*, *:before, *:after {
  box-sizing: border-box;
  box-shadow: none;
  border-radius: 0;
  background-color: transparent;
  color: inherit;
  outline: none;
  border: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  padding: 0;
  margin: 0; }

body {
  background-color: rgba(240, 255, 240, 0.42); }
  body #intro {
    text-align: center;
    width: 633px;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: block; }
    body #intro h1 {
      letter-spacing: 3px;
      color: dimgrey; }
    body #intro button {
      cursor: pointer;
      padding: 20px;
      background-color: bisque;
      color: cadetblue;
      font-weight: bold;
      letter-spacing: 3px;
      margin: 25px; }
  body #burger-full {
    display: none;
    justify-content: space-evenly; }
    body #burger-full #left {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      body #burger-full #left #ingridients {
        width: 90%;
        margin: 0 auto; }
        body #burger-full #left #ingridients #cheese {
          padding-top: 18px;
          width: 85%;
          margin: 0 auto;
          background-color: #eed102;
          border-bottom: 3px solid #b8ab0b; }
        body #burger-full #left #ingridients #addCheese {
          text-align: center;
          padding: 2px;
          background-color: rgba(255, 235, 59, 0.6);
          width: 22%;
          margin: 0 auto;
          border: 2px solid #eaea6d;
          margin-top: 5px;
          margin-bottom: 5px;
          cursor: pointer; }
        body #burger-full #left #ingridients #addTomato {
          text-align: center;
          padding: 2px;
          background-color: rgba(255, 235, 59, 0.6);
          width: 22%;
          margin: 0 auto;
          border: 2px solid #eaea6d;
          margin-top: 5px;
          margin-bottom: 5px;
          cursor: pointer; }
        body #burger-full #left #ingridients #addOnion {
          text-align: center;
          padding: 2px;
          background-color: rgba(255, 235, 59, 0.6);
          width: 22%;
          margin: 0 auto;
          border: 2px solid #eaea6d;
          margin-top: 5px;
          margin-bottom: 5px;
          cursor: pointer; }
        body #burger-full #left #ingridients #addMeatball {
          text-align: center;
          padding: 2px;
          background-color: rgba(255, 235, 59, 0.6);
          width: 22%;
          margin: 0 auto;
          border: 2px solid #eaea6d;
          margin-top: 5px;
          margin-bottom: 5px;
          cursor: pointer; }
        body #burger-full #left #ingridients #addPickle {
          text-align: center;
          padding: 2px;
          background-color: rgba(255, 235, 59, 0.6);
          width: 22%;
          margin: 0 auto;
          border: 2px solid #eaea6d;
          margin-top: 5px;
          margin-bottom: 5px;
          cursor: pointer; }
        body #burger-full #left #ingridients #addPatty {
          text-align: center;
          padding: 2px;
          background-color: rgba(255, 235, 59, 0.6);
          width: 22%;
          margin: 0 auto;
          border: 2px solid #eaea6d;
          margin-top: 5px;
          margin-bottom: 5px;
          cursor: pointer; }
        body #burger-full #left #ingridients #tomato {
          padding-top: 30px;
          width: 70%;
          margin: 0 auto;
          background-color: #be0303;
          border-bottom: 2px solid #820f0f; }
        body #burger-full #left #ingridients #onion {
          width: 55%;
          margin: 0 auto;
          background-color: #581458;
          display: flex;
          justify-content: space-evenly; }
          body #burger-full #left #ingridients #onion span {
            height: 18px;
            width: 18px;
            border-radius: 50px;
            background-color: rgba(255, 255, 255, 0.67);
            justify-content: space-around; }
        body #burger-full #left #ingridients #meatball {
          height: 60px;
          width: 65px;
          background-color: #7c4220;
          border-radius: 50%;
          margin: 0 auto; }
        body #burger-full #left #ingridients #pickle {
          padding-top: 45px;
          width: 73%;
          margin: 0 auto;
          background-color: #64d788;
          border-radius: 0px 0px 100px 100px;
          border-bottom: 11px solid rgba(0, 0, 0, 0.29); }
        body #burger-full #left #ingridients #patty {
          padding-top: 45px;
          width: 85%;
          margin: 0 auto;
          background-color: #de5e13;
          border-bottom: 2px solid rgba(0, 0, 0, 0.26);
          border-radius: 20px; }
    body #burger-full #arrow {
      background: url(../../pics/arrow.png);
      height: 80px;
      width: 80px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin: auto 0; }
    body #burger-full #middle {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; }
      body #burger-full #middle #checkout {
        background-color: #cc2727;
        padding: 20px;
        color: white;
        text-align: center;
        margin-top: 30px;
        font-size: 30px;
        display: none; }
      body #burger-full #middle h2 {
        text-align: center;
        padding: 25px 0; }
    body #burger-full #right {
      width: 30%;
      min-height: 100vh;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 100px; }
      body #burger-full #right #burger {
        width: 90%;
        margin: 0 auto; }
        body #burger-full #right #burger #bunTopR {
          height: 102px;
          width: 80%;
          background-color: rgba(247, 193, 70, 0.85);
          margin: 0 auto;
          border-radius: 135px 135px 30px 30px; }
          body #burger-full #right #burger #bunTopR:hover {
            border: 1px solid #02b1cd;
            cursor: pointer; }
        body #burger-full #right #burger #bunBottomR {
          width: 80%;
          height: 50px;
          margin: 0 auto;
          background-color: rgba(247, 193, 70, 0.85);
          border-top: 10px solid rgba(211, 165, 60, 0.72);
          border-radius: 15px 15px 35px 35px; }
          body #burger-full #right #burger #bunBottomR:hover {
            cursor: pointer; }
        body #burger-full #right #burger #plate {
          height: 25px;
          width: 95%;
          margin: 0 auto;
          background-color: #646464;
          border-radius: 0px 0px 30px 30px; }

/*# sourceMappingURL=style.css.map */
