

*, *:before, *:after{
  box-sizing: border-box;
  box-shadow: none;
  border-radius: 0;
  background-color: transparent;
  color: inherit;
  outline: none;
  border: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-rendering: optimizeLegibility;
  padding: 0;
  margin: 0;
}

body {
  width: 30%;
  min-height: 100vh;
  height: 100%;

  h1{
    text-align: center;
    padding-top: 30px;

    span{
    background-color: #cc2727;
    padding: 8px;
    color: white;
    }
  }

  h2{
    text-align: center;
    padding: 25px 0;
  }

  .burger{
    width: 90%;
    margin: 0 auto;

    .bun-top{
      height: 102px;
      width: 80%;
      background-color: rgba(247, 193, 70, 0.85);
      margin: 0 auto;
      border-radius: 135px 135px 30px 30px;

      &:hover{
        border: 1px solid #02b1cd;
        cursor: pointer;
      }

      .bun-topTwo{
        height: 100px;
        width: 100%;
        background-color: rgba(247, 193, 70, 0.85);
        margin: 0 auto;
        border-radius: 135px 135px 30px 30px;
        border-bottom: 10px solid #d3a53c;

      }
    }

    .cheese{
      height: 18px;
      width: 85%;
      margin: 0 auto;
      background-color: #eed102;
      border-bottom: 3px solid #b8ab0b;
    }

    .tomato{
      height: 30px;
      width: 70%;
      margin: 0 auto;
      background-color: #be0303;
      border-bottom: 2px solid #820f0f;
    }

    .onion{
      height: 18px;
      width: 55%;
      margin: 0 auto;
      background-color: #581458;
      display: flex;
      justify-content: space-evenly;

      span{
        height: 18px;
        width: 18px;
        border-radius: 50px;
        background-color: rgba(255, 255, 255, 0.67);
        justify-content: space-around;
      }
    }

    .meatball{
      display: flex;
      height: 60px;
      width: 60%;
      margin: 0 auto;
      justify-content: space-between;

      span{
        height: 60px;
        width: 65px;
        background-color: #7c4220;
        border-radius: 50%;
      }
    }

    .pickle{
      height: 45px;
      width: 73%;
      margin: 0 auto;
      background-color: #64d788;
      border-radius: 0px 0px 100px 100px;
      border-bottom: 11px solid rgba(0, 0, 0, 0.29);
    }

    .patty{
      height: 45px;
      width: 85%;
      margin: 0 auto;
      background-color: #de5e13;
      border-bottom: 2px solid rgba(0, 0, 0, 0.26);
      border-radius: 20px;
    }

    .bun-bottom{
      width: 80%;
      height: 50px;
      margin: 0 auto;
      background-color: rgba(247, 193, 70, 0.85);
      border-top: 10px solid rgba(211, 165, 60, 0.72);
      border-radius: 15px 15px 35px 35px;
    }

    .plate{
      height: 25px;
      width: 95%;
      margin: 0 auto;
      background-color: #646464;
      border-radius: 0px 0px 30px 30px;
    }
  }
}
